@model List<Smth.Data.Survey>

@{
    ViewBag.Title = "Мои опросы";
}

<h1 class="page-title">Мои опросы</h1>

<div class="tab-container">
    <a href="/Surveys/Created" class="tab-button @(ViewBag.ActiveTab == "Created" ? "active" : "")">Созданные</a>
    <a href="/Surveys/Completed" class="tab-button @(ViewBag.ActiveTab == "Completed" ? "active" : "")">Пройденные</a>
</div>
<style>
    .tab-container {
        display: flex;
        justify-content: center;
        /* Центрирование по горизонтали */
        gap: 20px;
        margin-top: 20px;
    }

    .tab-button {
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: white;
        padding: 10px 20px;
        border-radius: 8px;
        background-color: #4CAF50;
        transition: all 0.3s ease;
        border: none;
    }

    .tab-button:hover {
        background-color: #45a049;
    }

    .active {
        background-color: #2E7D32;

    }
    .page-title {
    border-bottom: none !important;
}
</style>
